
.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: white;
}

@media (max-width: 675px) {
    .display-1{font-size: 50px;}
    .display-4{font-size: 30px;}
    .adjustable-text{font-size: 30px}
}

body {
    background-color: #EAEAEA;
}

.footer{
  background-color: #D4D4D4;
}

.container-fluid {
  margin: 0%;
}

.fab {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: black;
}

.fab:hover {
  color: #636363;
  text-decoration: none;
}

.bg-brevis {
  background-color: #8C7161;
}

.bg-brevisblue {
  background-color: #8A9EA6;
}

.bg-brevisgreen {
  background-color: #8C884D
}

.bg-brevisdblue {
  background-color: #384359;
}